<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/image.css" %}">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">University</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/index">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron">
        <h1 align="center">Welcome To The ABC University</h1>
        <p align="center">Click the below button to fill the Application</p>
        <div style="text-align:center">
          <a href="/rg" class="btn btn-success btn-lg" role="button" >Applicaton Form</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <a href="/list" class="btn btn-success btn-lg" role="button" >List Of Applications</a>
        </div>
      </div>
    </div>
  </body>
</html>
